.sincolor{
    --background: #eaf1f6 ;
    background-color: #eaf1f6;
 }
 .verde{
    --color: red;
 }
 .center {
   display: block;
   margin: auto;
}

.centro{
   text-align: center;
   margin: auto;
   color: rgb(79, 79, 79);
}
.seleccionado{
   background-color: rgb(205, 223, 244);
  
   

}