<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>perfilAmigo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div >
   
    
  
    <ion-list>
      
        
      <ion-grid fixed>
        <ion-row>
          <ion-item lines="none">
            <ion-avatar slot="start">
              <img src="{{usuario.imagen }}" />
            </ion-avatar>
            <ion-label>
              <h3><strong>{{usuario.nombre}}</strong></h3>
              
              <!-- <h3>{{usuario.email}}</h3> -->
        
            </ion-label>
           
          </ion-item>
        </ion-row>
        <ion-row>
          <ion-card-subtitle>.............{{usuario.desc}}.........</ion-card-subtitle>
        </ion-row>
      </ion-grid>
     
    
    </ion-list>
  </div>



<ion-item>
  <div class="center">
  <ion-chip color="primary" mode="ios" outline="true" (click)="opcionPerfil(1)" >
    <ion-label> </ion-label>
    <ion-icon name="image-outline"></ion-icon>
    <ion-label> </ion-label>
  </ion-chip>
  <ion-chip color="primary" mode="ios" outline="true" (click)="opcionPerfil(2)">
    <ion-label> </ion-label>
    <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
    <ion-label> </ion-label>
  </ion-chip>
  
</div>
</ion-item>






<ion-refresher slot="fixed" >
  <ion-refresher-content></ion-refresher-content>
</ion-refresher>



<!-- post -->
<app-posts [posts]="posts" *ngIf="pestania==1"></app-posts>
<app-posts [posts]="msj"*ngIf="pestania==2"></app-posts>




<!-- infinite scroll -->
<ion-infinite-scroll [disabled]="!scrollable" threshold="25%"  position="bottom" >
  <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
  </ion-infinite-scroll-content>
</ion-infinite-scroll>

</ion-content>
