<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start" >
      <ion-back-button  defaultHref="/" text="" class="izquierda"></ion-back-button>
    </ion-buttons>
    <ion-title class="back">Perfil Amigo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="sincolor" >
   
    
  
    <ion-list class="sincolor">
      
        
      <ion-grid fixed class="sincolor">
        <ion-row>
          <ion-item lines="none" class="sincolor">
            <ion-avatar slot="start">
              <img src="{{usuario.imagen }}" />
            </ion-avatar>
            <ion-label>
              <h3><strong>{{usuario.nombre}}</strong></h3>
              
              <!-- <h3>{{usuario.email}}</h3> -->
        
            </ion-label>
           
          </ion-item>
        </ion-row>
        <ion-row>
          <ion-card-subtitle>.............{{usuario.desc}}.........</ion-card-subtitle>
        </ion-row>
      </ion-grid>
     
    
    </ion-list>
  </div>



<ion-item class="sincolor">
  <div class="center">
  <ion-chip color="primary" mode="ios" outline="true" (click)="opcionPerfil(1)" [ngClass]="{seleccionado: pestania==1}" >
    <ion-label> </ion-label>
    <ion-icon name="image-outline"></ion-icon>
    <ion-label> </ion-label>
  </ion-chip>
  <ion-chip color="primary" mode="ios" outline="true" (click)="opcionPerfil(2)" [ngClass]="{seleccionado: pestania==2}">
    <ion-label> </ion-label>
    <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
    <ion-label> </ion-label>
  </ion-chip>
  
</div>
</ion-item>









<!-- post -->
<app-posts [posts]="posts" *ngIf="pestania==1"></app-posts>

<div  *ngIf="posts.length==0 && pestania==1 " >
  <br>
  <br>

    <ion-title class="centro" >No hay publicaciones todavía</ion-title>
    <br>
    <br>
    <img src="assets/hoja-de-monstera.png" alt="" class="center">
</div>

<app-posts [posts]="msj"*ngIf="pestania==2"></app-posts>

<div  *ngIf="msj.length==0 && pestania==2 " >
  <br>
  <br>

    <ion-title class="centro" >No hay publicaciones todavía</ion-title>
    <br>
    <br>
    <img src="assets/hoja-de-monstera.png" alt="" class="center">
</div>





</ion-content>
