<ion-header>
  <ion-toolbar mode="ios">
    
    <ion-buttons slot="start">
      <ion-back-button (click)="dismiss()" defaultHref="" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Editar perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="top-20">
    
    <ion-col size="12" text-center>
      <img [src]="(imagen|imagenPerfil:usuario._id)|domSanitizer" class="img-avatar" (click)="galeria()">
    </ion-col>
    <ion-button (click)="galeria()" expand="block" fill="clear" shape="round">
      Click me
    </ion-button>

  </ion-row>

  <ion-row class="top-20">
    <ion-col size="12" class="center">
      <ion-label  >
        <h1 >Información personal</h1>
      </ion-label>
    </ion-col>
  </ion-row>
  <br>


  <!-- <app-avatar-selector></app-avatar-selector> -->

  <form (ngSubmit)="actualizar( fActualizar )" #fActualizar="ngForm">
      <ion-row>
        <ion-col>
          
            <ion-list class="sinfondo">
              
              <ion-item class="sinfondo">
                <ion-label>Email</ion-label>
                <ion-input name="email"
                           type="email"
                           required [(ngModel)]="usuario.email"></ion-input>
              </ion-item>

              <ion-item class="sinfondo">
                <ion-label>Nombre</ion-label>
                <ion-input name="nombre"
                           type="text"
                           required [(ngModel)]="usuario.nombre"></ion-input>
              </ion-item>
              <ion-item class="sinfondo" lines="none">
                <ion-label>Descripción</ion-label>
                <ion-input name="desc"
                           type="text"
                           required [(ngModel)]="usuario.desc"></ion-input>
              </ion-item>


            </ion-list>
        </ion-col>
      </ion-row>
      <br>
      <ion-row>
        <ion-col text-center>
          <ion-button type="submit"
                      class="colorpinarosa"
                      shape="round" expand="block">
          Actualizar
        </ion-button>
      </ion-col>
    </ion-row>
    
  </form>

</ion-content>
