<ion-header>
  <ion-toolbar mode="ios">
    <ion-title class="back">Likes</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item class="sinfondo">
    <ion-label>
      <p> Número de likes: {{numLikes}}</p>
      <h2></h2>
    </ion-label>
  </ion-item>
<div *ngIf="numLikes!=0" class="ion-padding" >
 
  <h5 >Le gusta a...</h5>
 
    <ion-list *ngFor="let item of persona" class="redondear">
    
      <ion-item (click)="route(item.userId)" lines="none" detail>
        <ion-avatar>
          <img *ngIf="item.imagen=='/assets/avatars/av-2.png'" src="/assets/avatars/av-2.png" alt="">
          <img *ngIf="item.imagen!='/assets/avatars/av-2.png'" [src]="(item.imagen|imagenPerfil:item.userId)" alt="">
      
        </ion-avatar>
        <ion-card-subtitle class="nombre">{{item.nombre}}</ion-card-subtitle>
      </ion-item>
    </ion-list>
  
</div>

    <div  *ngIf="numLikes==0" >
      <br>
      <br>
    
        <ion-title class="centro" >Está todo muy tranquilo por aquí...</ion-title>
        <br>
        <br>
        <img src="assets/hamaca.png" alt="" class="center">
    </div>
  

</ion-content>
