.nombre{
    margin-left: 20pt;
}

.redondear{
    border-radius: 10pt;
    margin-top: 20px;
}
.center {
    display: block;
    margin: auto;
}
.centro{
    text-align: center;
    margin: auto;
    color: rgb(79, 79, 79);
}