<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides class="mainSlide" #slidePadre>
    <ion-slide>
      <form (ngSubmit)="login(fLogin)" #fLogin="ngForm"> 
        <ion-grid fixed>
          <ion-row>
            <ion-col>
              <img src="/assets/avatars/av-1.png" />
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-list>
                <ion-item>
                  <ion-label>Email</ion-label>
                  <ion-input name="email" type="email" required [(ngModel)]="loginUser.email"></ion-input>
                </ion-item>

                <ion-item>
                  <ion-label>Password</ion-label>
                  <ion-input
                    name="password"
                    type="password"
                    required
                    [(ngModel)]="loginUser.password"
                  ></ion-input>
                </ion-item>
              </ion-list>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-button type="submit" color="tertiary" shape="round">
                Login
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
    </ion-slide>

    <ion-slide>
      <ion-grid fixed>
        <ion-row>
          <ion-col>
            <h3>Seleccione foto de perfil</h3>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-slides [options]="opcionesAvatar">
              
              <ion-slide  class="center" >
                <img *ngIf="imagen!=''"  [src]="imagen |imagenSanitazer" >
                <ion-img *ngIf="imagen==''"
                class="pick-avatar"
                  src="/assets/avatars/av-2.png"
                  [ngClass]="{'pick-avatar-seleccionado':avatars[0].seleccionado}"
                  (click)="seleccionarAvatar(avatars[0])"
                ></ion-img>
              </ion-slide>
              <ion-slide class="center" >
                <ion-img
                  class="pick-avatar"
                  src="/assets/avatars/av-3.png"
                  [ngClass]="{'pick-avatar-seleccionado':avatars[1].seleccionado}"
                  (click)="seleccionarAvatar(avatars[1])"
                ></ion-img>
              </ion-slide>
              
            </ion-slides>
          </ion-col>
        </ion-row>

        <form  (ngSubmit)="register(fRegister)" #fRegister="ngForm">
          <ion-row>
            <ion-col>
              <ion-list>
                <ion-item>
                  <ion-label>Email</ion-label>
                  <ion-input name="email" type="email" required [(ngModel)]="registerUser.email"></ion-input>
                </ion-item>

                <ion-item>
                  <ion-label>Nombre</ion-label>
                  <ion-input name="nombre" type="text" required [(ngModel)]="registerUser.nombre"></ion-input>
                </ion-item>

                <ion-item>
                  <ion-label>Password</ion-label>
                  <ion-input
                    name="password"
                    type="password"
                    required [(ngModel)]="registerUser.password"
                  ></ion-input>
                </ion-item>
              </ion-list>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-button type="submit" color="tertiary" shape="round">
                Crear usuario
              </ion-button>
            </ion-col>
          </ion-row>
        </form>
      </ion-grid>
    </ion-slide>
  </ion-slides>
</ion-content>

<ion-footer no-border>
  <ion-toolbar>
    <ion-row>
      <ion-col>
        <ion-button
          shape="round"
          expand="full"
          size="small"
          fill="outline"
          color="tertiary"
          (click)="btnLogin() "

        >
          Ingresar
        </ion-button>
       
      </ion-col>

      <ion-col>
        <ion-button
          shape="round"
          expand="full"
          size="small"
          fill="outline"
          color="tertiary"
          (click)="btnRegistro()"

        >
          Registrarme
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
