
<ion-content>
  
  <!-- espacio -->
  <br>
  <ion-slides class="mainSlide" #slidePadre >
    <ion-slide>
      <form (ngSubmit)="login(fLogin)" #fLogin="ngForm" class="centrar"> 
        <ion-grid fixed >
          <ion-row>
            <ion-col>
              <ion-title>Bienvenido a SocialShare !!</ion-title><br>
              <img src="/assets/pina.png" />
            </ion-col>
          </ion-row>
          <br>
          <br>
          <ion-row class="sinfondo">
            <ion-col>
              <ion-list class="sinfondo">
                <ion-item class="sinfondo">
                  <ion-label class="sinfondo">Email</ion-label>
                  <ion-input name="email" type="email" required [(ngModel)]="loginUser.email" class="sinfondo"></ion-input>
                </ion-item>

                <ion-item class="sinfondo" lines="none">
                  <ion-label>Password</ion-label>
                  <ion-input
                    name="password"
                    type="password"
                    required
                    [(ngModel)]="loginUser.password"
                  ></ion-input>
                </ion-item>
              </ion-list>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-button type="submit"  shape="round"  class="colorpinaverde">
                Login
              </ion-button>
              <ion-button   shape="round" (click)="btnRegistro()" class="colorpinarosa" >
                sign up
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
    </ion-slide>

    <ion-slide>
     
      <form  (ngSubmit)="register(fRegister)" #fRegister="ngForm" class="centrar">
      <ion-grid fixed>
        
        <ion-row>
          <ion-col>
            <ion-title>Seleccione foto de perfil:</ion-title>
             <br>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-slides [options]="opcionesAvatar">
              
              <ion-slide  class="center" >
                <img *ngIf="imagen!=''"  [src]="imagen |imagenSanitazer" >
                <ion-img *ngIf="imagen==''"
                class="pick-avatar"
                  src="/assets/avatars/av-2.png"
                  [ngClass]="{'pick-avatar-seleccionado':avatars[0].seleccionado}"
                  (click)="seleccionarAvatar(avatars[0])"
                ></ion-img>
              </ion-slide>
              <ion-slide class="center" >
                <ion-img
                  class="pick-avatar"
                  src="/assets/avatars/av-3.png"
                  [ngClass]="{'pick-avatar-seleccionado':avatars[1].seleccionado}"
                  (click)="seleccionarAvatar(avatars[1])"
                ></ion-img>
              </ion-slide>
              
            </ion-slides>
          </ion-col>
        </ion-row>
<br>
        
          <ion-row>
            <ion-col>
              <ion-list class="sinfondo">
                <ion-item class="sinfondo">
                  <ion-label>Email</ion-label>
                  <ion-input name="email" type="email" required [(ngModel)]="registerUser.email"></ion-input>
                </ion-item>

                <ion-item class="sinfondo">
                  <ion-label>Nombre</ion-label>
                  <ion-input name="nombre" type="text" required [(ngModel)]="registerUser.nombre"></ion-input>
                </ion-item>

                <ion-item class="sinfondo" >
                  <ion-label>Password</ion-label>
                  <ion-input
                    name="password"
                    type="password"
                    required [(ngModel)]="registerUser.password"
                  ></ion-input>
                </ion-item>
              </ion-list>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-button   shape="round" class="colorpinarosa" (click)="btnLogin()">
                Volver
              </ion-button>
              <ion-button type="submit"  shape="round" class="colorpinaverde">
                Crear usuario
              </ion-button>
            </ion-col>
          </ion-row>
        
      </ion-grid>
    </form>
    </ion-slide>
  </ion-slides>
</ion-content>

<!-- <ion-footer no-border>
  <ion-toolbar>
    <ion-row>
      <ion-col>
        <ion-button
          shape="round"
          expand="full"
          size="small"
          fill="outline"
          color="tertiary"
          (click)="btnLogin() "

        >
          Ingresar
        </ion-button>
       
      </ion-col>

      <ion-col>
        <ion-button
          shape="round"
          expand="full"
          size="small"
          fill="outline"
          color="tertiary"
          (click)="btnRegistro()"

        >
          Registrarme
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer> -->
