.center {
    display: block;
    margin: auto;
}

.icon {
   
    background-image: url('/assets/cuaderno.png');
    background-size: cover;
    width: 30px;
    height: 30px;

}

.icon:hover {
    background-image: url('/assets/cuaderno.gif');
    background-size: cover;
    width: 38px;
    height: 38px;

}

.letra {
    color: black;
}

.letra:hover {
    color: rgb(28, 57, 186);
}