
<div class="post">


  <ion-item lines="none">
    <ion-avatar slot="start">
      <img src="/assets/avatars/{{post.usuario.imagen}}" />
    </ion-avatar>
    <ion-label>
      <h3>{{post.usuario.nombre}}</h3>
      <h3>{{post.usuario.email}}</h3>

    </ion-label>
  </ion-item>

  <ion-slides  
   
  mode="ios" pager="ios" scrollbar="ios" *ngIf="post.img.length>1">
    <ion-slide 
    *ngFor="let img of post.img"
    class="image-slide" [style]="(img |imagen:post.usuario._id)|domSanitizer"> 
    <div id="cabecera">
      <video [src]="(post.img[0] |imagen:post.usuario._id)" width="640" height="360" loop autoplay preload muted></video>
    
     </div>
    </ion-slide>
    
  </ion-slides>
  <ion-slides  mode="ios" *ngIf="post.img.length===1">
    <ion-slide class="image-slide" [style]="(post.img[0] |imagen:post.usuario._id)|domSanitizer"> 
      <div id="cabecera">
        <video [src]="(post.img[0] |imagen:post.usuario._id)" width="640" height="360" loop autoplay preload muted></video>
      
       </div>
    </ion-slide>
    
  </ion-slides>

  <ion-item>
    <ion-icon slot="start" name="heart-outline"></ion-icon>
    <ion-icon slot="end" name="bookmark-outline"></ion-icon>
  </ion-item>
  <ion-item lines="none">
    <ion-label text-wrap>{{post.mensaje}}</ion-label>
  </ion-item>
</div>
