<ion-header class="back" class="header">
  <ion-toolbar class="back2" mode="ios" >
    <img src="/assets/icon/favicon.png" alt="" slot="start" class="izquierda">
    <ion-title class="back"><strong>SocialShare</strong>
     
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <!-- refresher -->
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

 


  <!-- post -->
  <app-posts [posts]="posts"></app-posts>



  <!-- infinite scroll -->
  <ion-infinite-scroll [disabled]="!scrollable" threshold="25%"  position="bottom" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

  
</ion-content>
